@import "./Variables/Variables.scss";

.manager-container{
    width: 100%;
    background-color: $lightWhite;
   
}
.manager-content{
    padding: 20px;
}
.manager-info{
    align-items: center;
    line-height: 50px;
    padding: 30px;
    color: $deepBlack;
}
.manager-info h1{
    text-align: center;
}
.manager-info p{
    text-align: center;
    font-size: 18px;
    padding: 12px;
}
.manager-card-container{
    padding: 40px;
}
.manager-card{
    display: flex;
    position: relative;
    bottom: 50px;
    gap:20px;
    padding: 80px;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 30px;
   
}
.manager-card-details{
    width: 32%;
    color: $deepBlack;
    padding: 20px;
    background-color: $lightWhite;
    border-radius: 10px;
    box-shadow: 2px 4px 4px 2px $lightGrey;
    
}
.manager-card-details p{
    font-size: 18px;
    position: relative;
    left: 5rem;
    bottom: 3rem;
    overflow-wrap: break-word;
     display: flex;
     flex-wrap: wrap;
     font-weight: bold;   
}
.manager-card-details img{
    width: 70px;
    padding: 20px;
    position: relative;
    top: 30px;
    border-radius: 45px;
    background-color: $orangeColor;
}
.manager-card-details h2{
    color: $deepBlue;
    position: relative;
    bottom: 4rem;
    left: 4rem; 
    font-size: 20px;
    text-align: center;
}
@media (max-width: 800px){
      .manager-container{
        width: 100%;
        background-position-y:30px ;
      }
      .manager-content{
        padding: 0;
      }
      .manager-info{
        padding: 0;
      }
      .manager-info p{
        padding: 5px;
        line-height: 30px;
      }

}