.Signup{
    width: 1005;
}
.container{
    display: flex;
    width: 100%;
    padding: 20px;
}
.contents{
    position: relative;
    
}
.left{
    width: 50%;
    color: black;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 1rem;
    background: linear-gradient(93.08deg, #FFFFFF 5.3%, #FAE9E2 36.63%, #FEF6F3 72.36%, rgba(229, 245, 255, 0) 98.15%);
}
.right{
    width: 50%;
    line-height: 40px;
    color: black;
    padding: 80px;
    text-align: center;
  }
  .details p {
    font-size: 18px;
    display: inline-block;
    width: 70%;
    margin-top: 20px;
  } 
  
.information {
    display: block;
  }
  .header h1 {
    font-size: 28px;
    text-align: center;
    color: black;
  }
  .header h1 span {
    color: rgb(243, 114, 63);
  }
  .form input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1.26px solid rgb(196, 196, 196);
    outline: none;
  }
  .form {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .form .text{
    display: inline-block;
    line-height: 27px;
    color: black; 
   margin-left: 6%;
}
.text span{
    color: rgba(243, 114, 63, 1);
}
.spn{
    margin-left: 6%;
    line-height: 6px;
}

  
 .form .check{
    position:absolute;
    top: 29.4rem;
    left:7.8rem;
    font-size: 20px;
    accent-color: rgba(243, 114, 63, 1);
 }
 .link{
    color: rgba(243, 114, 63, 1);
    font-size: 17px;
    text-decoration: none;
}
.form button {
    width: 100%;
    padding: 14px;
    background-color: rgb(243, 114, 63);
    border: none;
    color: #fff;
    font-size: 18px;
    border-radius: 8px;
  }
.txt{
 color: rgba(153, 153, 153, 1)
}
