.talent-container{
    width: 100%;
    display: block;
    
}
.talent-content{
    display: flex;
    margin-left: 5rem;
    padding: 10rem 10rem;
}
.talent-image-container{
    width: 50%;
}
.talent-image-container img{
    width: 96%;
}
.talent-info{
    width: 50%;
    color: $blackColor;
}
.talent-header p{
    word-wrap: break-word;
    padding: 19px;
    font-size: 17px;
    line-height: 25px;
}
.talent-body{
    padding: 19px;
    font-size: 17px;
}
.talent-body img{
    width: 50px;
    height: 50px;
    padding: 12px;
    display: inline-block;
    position: relative; 
    top:3.5rem ;
    right: 4rem;
    background: $blue;
    border-radius: 35px;  
}
@media (max-width: 800px){
     .talent-container{
        width: 100%;
        
     }
     .talent-content{
        width: 100%;
         display: block;
         position: relative;
         bottom: 10rem;
         margin-left: 0;
         padding: 0;
     }
     .talent-header h1{
        text-align: center;
        font-size: 50px;
     }
     .talent-info{
        width: 100%;
     }
     .talent-image-container{
        width: 100%;
    }
    .talent-image-container img{
        width: 80%;
    }
    .talent-body{
        padding: 20px;
    }
    .talent-body p{
        line-height: 25px;
        text-align: center;
    }
   .talent-body img{
        width: 40px;
        height: 40px;
        padding: 12px;
        display: inline-block;
        position: relative;
        left: 0rem;
        top: 0.2rem; 
        background: $blue;
        border-radius: 35px;  
    }

    
}