.container{
    width: 100%;
}
.content{
   position: relative;
   
}
.col{
    width: 100%;
    display: flex;
    padding: 20px;

}
.left{
    width: 50%;
    color: black;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 1rem;
    background: linear-gradient(93.08deg, #FFFFFF 5.3%, #FAE9E2 36.63%, #FEF6F3 72.36%, rgba(229, 245, 255, 0) 98.15%);
}
.right{
    width: 50%;
    line-height: 40px;
    color: black;
    padding: 80px;
    text-align: center;
  }
  .info{
    display: block;
  }
  
.header h1 {
    font-size: 28px;
    text-align: center;
    color: black;
  }
  
  .header h1 span {
    color: rgb(243, 114, 63);
  }
  
  .details p {
    font-size: 18px;
    display: inline-block;
    width: 70%;
    margin-top: 20px;
  }
  .form input {
    width: 15%;
    height: 10vh;
    padding: 30px;
    font-size: 20px;
    border-radius: 6px;
    background-color: rgb(195, 195, 195);
    border: 1.26px solid rgb(196, 196, 196);
    outline: none;
    margin-top: 10%;
  }
  .form {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .form button {
    width: 100%;
    padding: 18px;
    background-color: rgb(243, 114, 63);
    border: none;
    color: #fff;
    font-size: 18px;
    border-radius: 8px;
    margin-top: 20%;
  }
  p .link {
    color: rgb(243, 114, 63);
    font-size: 17px;
    text-decoration: none;
  }