
$blackColor:rgba(24, 24, 24, 0.816);
$deepBlack:black;
$lightWhite:#fff;
$whiteColor: #efeeee;
$creamColor:rgba(252, 221, 209, 1);
$greyColor:rgba(137, 136, 136, 0.688);
$blueColor:royalblue;
$darkblue: rgba(12, 117, 189, 1);
$deepBlue:rgba(6, 38, 120, 0.85);
$orangeColor:rgba(243, 114, 63, 1);
$lightOrange:#fe9e0d;
$deepOrange:#F3723F;
$lighterOrange:#EDA58E;
$lightBlue:#87CBFA;
$lightGrey:gray;
$blue:rgba(34, 104, 186, 1);
$body: linear-gradient(93.08deg, #FFFFFF 5.3%, #FFF2ED 36.63%, #FFFFFF 72.36%, rgba(225, 235, 242, 0) 98.15%);





$titleFont: Arial sans-serif;
$bodyFont: Bahnschrift SemiBold ;


@mixin buttonStyle($color, $fontSize){
    padding: 10px;
    width: 100%;
    font-size: $fontSize;
    margin-top: 40px;
    background-color:$color;
    border-radius: 14px;
    color: #fff;
    border: none;
    transition: 0.9s;
}
